<%- include("partials/_header.ejs") -%> <%- include("partials/_menu.ejs") -%>
	

	<% if(userIN) { %> 

		<% if(user.role === "student") { %>

	<div class="all-title-box">
		<div class="container text-center">
			<h1>Course Single<span class="m_1">Öğrenci <%= user.name %> Hoşgeldiniz </span></h1>
		</div>
	</div>

	<div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-12 blog-post-single">					
					<div class="blog-author">
						<div class="author-bio">
							<h3 class="author_name"><a href="#">Tom Jobs</a></h3>
							<h5>CEO at <a href="#">SmartEDU</a></h5>
							<p class="author_det">
								Lorem ipsum dolor sit amet, consectetur adip, sed do eiusmod tempor incididunt  ut aut reiciendise voluptat maiores alias consequaturs aut perferendis doloribus omnis saperet docendi nec, eos ea alii molestiae aliquand.
							</p>
						</div>
						<div class="author-desc">
							<img src="images/author.jpg" alt="about author">
						</div>
					</div>
					
                </div><!-- end col -->
            </div><!-- end row -->
			<div class="row mt-5"> 


				<% user.courses.map( (kurs) => {  %>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item mb-5">
						<div class="image-blog">
							<img src="images/blog_1.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="/courses/<%=kurs.slug %>" title=""><%=kurs.name %> </a></h2>
							</div>
							<div class="course-desc">
								<p>
									<%=kurs.description %> 
								</p>
								<form method="POST" action="/courses/release">
									<input type="hidden" name="course_id" value="<%= kurs._id %>">
									<button class="btn btn-lg btn-warning text-white"><span>Ayrıl</span></button>
								  </form>
							</div>
						</div>
					</div>
                </div><!-- end col -->

				<%  }) %>
            
				 
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->



	<% } %>



	<% if(user.role === "teacher") { %>

		<div class="all-title-box">
			<div class="container text-center">
				<h1>Course Single<span class="m_1">Öğretmen <%= user.name %> Hoşgeldiniz</span></h1>
			</div>
		</div>


		<div id="overviews" class="section wb">
			<div class="container">
				<div class="row"> 

					<div class="col-lg-12">

						<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Yeni Kurs Ekle
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form action="/courses" method="post">

			<div class="form-gruop">
				<label> Kurs Adı</label>
				<input type="text" name="name" class="form-control">
			</div>

			<div class="form-gruop">
				<label> Kurs Adı</label>
				<textarea class="form-control" name="description"></textarea>
			</div>

			<div class="form-gruop">
				<label> Kurs Kategorisi</label>
				 <select class="form-control" name="category">
					<% categories.map((category) => {  %>
						<option value="<%=category._id %>"> <%= category.name %>  </option>
					<% }) %>

				 </select>
			</div>

			<input type="hidden" name="role" value="<%= user.role %>"  >

		  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Save changes</button>
		</form>
		</div>
	  </div>
	</div>
  </div>

					</div>

					<div class="col-lg-12 blog-post-single">					
						<div class="blog-author">
							<div class="author-bio">
								<h3 class="author_name"><a href="#">Tom Jobs</a></h3>
								<h5>CEO at <a href="#">SmartEDU</a></h5>
								<p class="author_det">
									Lorem ipsum dolor sit amet, consectetur adip, sed do eiusmod tempor incididunt  ut aut reiciendise voluptat maiores alias consequaturs aut perferendis doloribus omnis saperet docendi nec, eos ea alii molestiae aliquand.
								</p>
							</div>
							<div class="author-desc">
								<img src="images/author.jpg" alt="about author">
							</div>
						</div>
						
					</div><!-- end col -->
				</div><!-- end row -->
				<div class="row mt-5"> 


					<% courses.map((ders)=> { %>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="course-item mb-5">
							<div class="image-blog">
								<img src="images/blog_1.jpg" alt="" class="img-fluid">
							</div>
							<div class="course-br">
								<div class="course-title">
									<h2><a href="/courses/<%=ders.slug %>" title=""><%=ders.name  %> </a></h2>
								</div>
								<div class="course-desc">
									<p><%= ders.description %> </p>
								</div>
							</div>
						</div>
					</div><!-- end col -->
					<% }) %>
				  
					   	
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->
	
	
		<% } %>
	

	<% } %>
	
  
    <%- include("partials/_footer.ejs") -%> 